<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
    <h1>Cadastro de Clientes</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>E-mail</th>                
            </tr>
        </thead>
        <tbody>        
            <tr>
                <td><a href="{% url 'index' %}">{{ cliente.nome }}</a></td>
                <td>{{ cliente.endereco }}</td>
                <td>{{ cliente.email }}</td>
            </tr>        
    </tbody>
    </table>
</body>
</html>