{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clínica</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Clínica Odontológica</h1>

    <img src="{% static 'images/clinica.jpg' %}">

    <h2>{{ apresentacao }}</h2>

    <p>{{ divulgacao }}</p>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>E-mail</th>                
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{% url 'cliente' cliente.id %}">{{ cliente.nome }}</a></td>
                <td>{{ cliente.endereco }}</td>
                <td>{{ cliente.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>E-mail</th>                
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td><a href="{% url 'funcionario' funcionario.id %}">{{ funcionario.nome }}</a></td>
                <td>{{ funcionario.endereco }}</td>
                <td>{{ funcionario.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <button onclick="teste();">Clique-me</button>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>